{
   "tenantId": "your_tenant_id",
   "appId": "your_app_id",
   "appSecret": "your_app_secret",
   "subscriptionId": "your_sub_id",
   "resourceGroup": "your_resource_group",
   "vmssName": "your_vm_scale_set_name"
}